//Couleurs principales
$gris-clair: #EAEAEA;
$gris : #7E7E7E;
$gris-foncé: #353535;
$vert-foncé: #008766;
$vert-clair: #99E2D0;
$rose: #FF79DA;
$violet-clair : #F5EDFF;
$violet: #9356DC;
$blanc: #FFFFFF;
$beige : #F6F6F6;

// Taille texte
$Titre_principal: 37px;
$Titre-menu : 28px;
$Entré-plat-menu : 16px;


//Medias
$mediatablette: 790px;
$mediadesktop: 1024px;