@mixin grid-template-set-columns($section) {
    grid-template-columns: repeat($section, 1fr);
}

@mixin grid-template-set-rows($section) {
    grid-template-rows: repeat($section, 1fr);
}

@mixin Logo($taille) {
    font-family: Shrikhand;
    font-size: $taille;
}

@mixin animation-plat($delay) {
    opacity: 0;
    animation: apparition 3s ease-in-out $delay;
    animation-fill-mode: forwards;
}