.btn {
    padding: 1em 1.5em;
    color: $blanc;
    transition: 250ms;
    text-decoration: none;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.28);


    &--gradient {
        background: linear-gradient($rose, $violet);
    }

    &--radius {
        border-radius: 2em;
    }

    &:hover {
        opacity: 0.8;
        box-shadow: 0 4px 11px rgba(0, 0, 0, 0.42);
    }
}

.btn_commander {
    position: relative;
    top: 3em;
}