@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
main .localisation, header {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .fonctionnement .liste_fonctionnement li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .presentation, body .loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes anime {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes anime_media {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}
@keyframes titre_animation {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes progression {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}
@keyframes loader {
  from {
    visibility: visible;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.8;
  }
  95% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.4;
  }
  to {
    visibility: hidden;
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
body .loader {
  height: 100%;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 20;
  background: linear-gradient(#9356DC, #FF79DA);
  animation: loader 3s ease-in;
  animation-fill-mode: forwards;
}
body .loader .box_loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 90%;
  height: 250px;
  background: linear-gradient(#9356DC, #FF79DA);
  box-shadow: #7E7E7E 0px 5px 11px;
  animation: anime 2s;
}
@media (min-width: 769px) {
  body .loader .box_loader {
    width: 45%;
    height: 35%;
    animation: anime_media 2s;
  }
}
body .loader .titre_loader {
  font-family: Shrikhand;
  font-size: 10vw;
  color: white;
  animation: titre_animation 2s;
}
@media (min-width: 769px) {
  body .loader .titre_loader {
    font-family: Shrikhand;
    font-size: 5vw;
  }
}
body .loader .barre_chargement {
  position: relative;
  height: 10px;
  width: 80%;
  border: 5px solid white;
  border-radius: 15px;
  background-color: #ffffff;
}
body .loader .chargement {
  position: absolute;
  background: linear-gradient(#9356DC, #FF79DA);
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: progression 2s linear;
  animation-fill-mode: forwards;
}

.btn {
  padding: 1em 1.5em;
  color: #FFFFFF;
  transition: 250ms;
  text-decoration: none;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.28);
}
.btn--gradient {
  background: linear-gradient(#FF79DA, #9356DC);
}
.btn--radius {
  border-radius: 2em;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.42);
}

.btn_commander {
  position: relative;
  top: 3em;
}

.hearts .heart-vide {
  display: block;
  transform: scale(1);
  transition: transform 1s;
}
.hearts .heart-plein {
  display: block;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: transform 1s;
  background-color: black;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -moz-text-fill-color: transparent;
}

.hearts:hover .heart-vide {
  transform: scale(0);
}
.hearts:hover .heart-plein {
  transform: scale(1);
}

.baniere img {
  object-position: 50% 60%;
  object-fit: cover;
  width: 100%;
  height: 270px;
}
@media (min-width: 769px) {
  .baniere img {
    height: 453px;
  }
}

.liste_card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2em;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .liste_card {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1025px) {
  .liste_card {
    grid-template-columns: repeat(4, 1fr);
  }
}
.liste_card .card {
  position: relative;
  border-radius: 1em;
  background-color: #FFFFFF;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1024px) {
  .liste_card .card {
    width: 100%;
  }
}
.liste_card .card a {
  text-decoration: none;
  color: black;
}
.liste_card .card .Nouveau {
  position: absolute;
  top: 0.5em;
  right: 0.8em;
  background-color: #99E2D0;
  color: #008766;
  padding: 0.5em 0.9em 0.5em 0.9em;
  font-size: 14px;
  border-radius: 0.2em;
  font-weight: 600;
}
.liste_card .card .Photo_2 {
  object-position: 50% 60%;
}
.liste_card .card img {
  object-position: bottom;
  object-fit: cover;
  width: 100%;
  border-radius: 1em 1em 0em 0em;
  height: 174px;
}
.liste_card .card .card_description {
  position: relative;
  padding-left: 0.5em;
  align-items: center;
  justify-content: space-between;
}
.liste_card .card .card_description h2 {
  margin: 0.5em 0px 0.5em 0px;
  font-size: 18px;
}
.liste_card .card .card_description p {
  margin-top: 0px;
  font-size: 17px;
}
.liste_card .card .card_description .hearts {
  position: absolute;
  top: 0.8em;
  bottom: 0em;
  right: 1em;
  font-size: 24px;
  cursor: pointer;
}

body {
  width: 100%;
  margin: 0;
}

header {
  position: relative;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
}
header a {
  position: absolute;
  left: 0.5em;
  font-size: 22px;
}
@media (min-width: 769px) {
  header a {
    left: 4em;
  }
}
header a i {
  color: black;
}
header h1 {
  font-family: Shrikhand;
  font-size: 37px;
  margin: 0.5em;
}

main {
  font-family: Roboto;
}
main .localisation {
  background-color: #EAEAEA;
}
main .localisation i,
main .localisation h2 {
  color: #353535;
}
main .localisation h2 {
  margin: 0.8em;
  font-size: 20px;
}
main .presentation {
  background-color: #F6F6F6;
  padding: 1em 0em 2.3em 0em;
  text-align: center;
}
main .presentation h2 {
  font-size: 24px;
  margin-bottom: 0.3em;
}
@media (min-width: 1025px) {
  main .presentation h2 {
    font-size: 40px;
  }
}
main .presentation p {
  font-size: 18px;
  width: 98%;
}
main .presentation a {
  margin-top: 0.7em;
}
main .fonctionnement {
  background-color: #FFFFFF;
  margin: auto;
}
@media (min-width: 769px) {
  main .fonctionnement {
    width: 75%;
    padding: 2em;
  }
}
main .fonctionnement h2 {
  padding-left: 0.75em;
}
main .fonctionnement .liste_fonctionnement {
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 2em;
  align-items: center;
}
@media (min-width: 769px) {
  main .fonctionnement .liste_fonctionnement {
    padding: revert;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1025px) {
  main .fonctionnement .liste_fonctionnement {
    grid-template-columns: repeat(3, 1fr);
  }
}
main .fonctionnement .liste_fonctionnement .fa-store {
  color: #9356DC;
}
main .fonctionnement .liste_fonctionnement a:hover {
  background-color: #F5EDFF;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  main .fonctionnement .liste_fonctionnement .Deguster {
    grid-column: 3/1;
    margin: auto;
    width: 43%;
  }
}
main .fonctionnement .liste_fonctionnement li {
  width: 90%;
}
main .fonctionnement .liste_fonctionnement li a {
  position: relative;
  padding: 0.5em 2em 0.5em 0em;
  border-radius: 1em;
  background-color: #F6F6F6;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: black;
}
@media (min-width: 769px) {
  main .fonctionnement .liste_fonctionnement li a {
    justify-content: center;
  }
}
main .fonctionnement .liste_fonctionnement li a .numero {
  position: absolute;
  left: -15px;
  background-color: #9356DC;
  border-radius: 15px 15px 15px 15px;
  padding: 5px 10px 5px 10px;
  color: #FFFFFF;
  font-size: 14px;
}
main .fonctionnement .liste_fonctionnement li a i {
  padding: 0;
  margin-left: 16vw;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  main .fonctionnement .liste_fonctionnement li a i {
    margin-left: 0vw;
    margin-right: 1em;
  }
}
@media (min-width: 1025px) {
  main .fonctionnement .liste_fonctionnement li a i {
    margin: 0em 1.5em 0em 1.5em;
  }
}
main .fonctionnement .liste_fonctionnement li a p {
  width: 60%;
  font-weight: bold;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  main .fonctionnement .liste_fonctionnement li a p {
    width: 67%;
  }
}
@media (min-width: 1025px) {
  main .fonctionnement .liste_fonctionnement li a p {
    width: initial;
  }
}
main .restaurants {
  background-color: #F6F6F6;
  padding: 1.5em 1.5em 4em 1.5em;
}
main .menu {
  background-color: #F6F6F6;
  margin: auto;
  padding-bottom: 2em;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  main .menu {
    width: 85%;
    padding: 0;
  }
}
@media (min-width: 1025px) {
  main .menu {
    width: 75%;
    padding: 0;
  }
}
main .menu .entrées {
  opacity: 0;
  animation: apparition 3s ease-in-out 1s;
  animation-fill-mode: forwards;
}
main .menu .plats {
  opacity: 0;
  animation: apparition 3s ease-in-out 2s;
  animation-fill-mode: forwards;
}
main .menu .desserts {
  opacity: 0;
  animation: apparition 3s ease-in-out 3s;
  animation-fill-mode: forwards;
}
main .menu .liste_menu {
  position: relative;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 3em;
  border-radius: 1em 1em 0em 0em;
}
@media (min-width: 769px) {
  main .menu .liste_menu {
    bottom: 7em;
  }
}
main .menu .liste_menu .titre_menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: Shrikhand;
  font-size: 22px;
  width: 100%;
}
@media (min-width: 769px) {
  main .menu .liste_menu .titre_menu {
    width: 55%;
  }
}
main .menu .liste_menu .element_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
@media (min-width: 769px) {
  main .menu .liste_menu .element_menu {
    width: 60%;
  }
}
main .menu .liste_menu h3 {
  align-self: flex-start;
  font-weight: 300;
  border-bottom: 1em solid #99E2D0;
  border-width: 0.2em;
  padding-bottom: 0.2em;
  width: 2.5em;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  main .menu .liste_menu h3 {
    align-self: auto;
    display: flex;
    justify-content: center;
  }
}
main .menu .liste_menu ul {
  display: grid;
  list-style: none;
  gap: 2em;
  padding: 0;
  width: 100%;
}
main .menu .liste_menu ul li {
  display: flex;
  background-color: white;
  border-radius: 1em;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  overflow: hidden;
}
main .menu .liste_menu ul li .description {
  padding: 0.75em 0em 0.75em 0.5em;
}
main .menu .liste_menu ul li .description h4,
main .menu .liste_menu ul li .description p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 55vw;
}
@media (min-width: 769px) {
  main .menu .liste_menu ul li .description h4,
  main .menu .liste_menu ul li .description p {
    width: 30vw;
  }
}
main .menu .liste_menu ul li:hover .description_coche .check {
  visibility: visible;
  display: flex;
  transform: translateX(0px);
}
main .menu .liste_menu ul li:hover .description_coche p {
  transform: translateX(0px);
}
main .menu .liste_menu ul li h4 {
  font-size: 18px;
  padding-bottom: 0.2em;
}
main .menu .liste_menu ul .description_coche {
  display: flex;
}
main .menu .liste_menu ul .description_coche p {
  margin: 0;
  padding: 0em 1em 0.9em 0em;
  align-self: end;
  transition: transform 1s;
  transform: translate(50px);
}
main .menu .liste_menu ul .description_coche .check {
  padding: 1.1em;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  border-radius: 0em 0.5em 0.5em 0em;
  transition: transform 1s;
  font-size: 22px;
  transform: translate(100px);
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column-reverse;
  height: 14em;
  background-color: #353535;
  color: white;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  footer {
    flex-direction: column;
    align-items: center;
    height: 8em;
  }
}
@media (min-width: 1025px) {
  footer {
    height: 8em;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }
}
footer h1 {
  font-family: Shrikhand;
  font-size: 27px;
  margin: 1em 0em 0em 0.5em;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  footer h1 {
    margin: 0em 0em 1em 0em;
  }
}
@media (min-width: 1025px) {
  footer h1 {
    margin: 0em 5em 0em 1em;
  }
}
footer .footer_description {
  height: 100%;
  flex-direction: column-reverse;
  padding-left: 1em;
  margin: 0;
  display: flex;
  font-family: Roboto;
  margin-right: 2em;
  list-style: none;
  text-decoration: none;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  footer .footer_description {
    gap: 1em;
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1025px) {
  footer .footer_description {
    gap: 2em;
    flex-direction: row;
    align-items: center;
  }
}
footer .footer_description a {
  display: flex;
  text-decoration: none;
  color: white;
  align-items: normal;
}
@media (min-width: 769px) {
  footer .footer_description a {
    align-items: center;
  }
}
footer .footer_description a i {
  padding-right: 0.5em;
}
footer .footer_description a p {
  margin-top: 0;
  display: flex;
  align-items: center;
}
@media (min-width: 769px) {
  footer .footer_description a p {
    margin-top: auto;
    display: contents;
    align-items: normal;
  }
}

/*# sourceMappingURL=index.css.map */
