header {
    position: relative;
    @extend %flex-center;
    background-color: $blanc;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;

    & a {
        position: absolute;
        left: 0.5em;
        font-size: 22px;

        @media (min-width: 768px) {
            left: 4em;
        }

        & i {
            color: black;
        }
    }

    & h1 {
        @include Logo(37px);
        margin: 0.5em;
    }
}