main {
    font-family: Roboto;

    & .localisation {
        @extend %flex-center;
        background-color: $gris-clair;

        & i,
        h2 {
            color: $gris-foncé;
        }

        & h2 {
            margin: 0.8em;
            font-size: 20px;
        }
    }

    & .presentation {
        @extend %column-center;
        background-color: $beige;
        padding: 1em 0em 2.3em 0em;
        text-align: center;

        & h2 {
            font-size: 24px;
            margin-bottom: 0.3em;

            @media (min-width: 1025px) {
                font-size: 40px;
            }
        }

        & p {
            font-size: 18px;
            width: 98%;
        }


        & a {
            margin-top: 0.7em;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 11px;
        }
    }


    & .fonctionnement {
        background-color: $blanc;
        margin: auto;

        @media (min-width: 769px) {
            width: 75%;
            padding: 2em;
        }

        & h2 {
            padding-left: 0.75em;
        }

        & .liste_fonctionnement {
            padding: 0;
            display: flex;
            flex-direction: column;
            list-style: none;
            gap: 2em;
            align-items: center;

            @media (min-width: 1025px) {
                padding: revert;
                display: grid;
                @include grid-template-set-columns(3);
            }

            & .fa-store {
                color: $violet;
            }

            & a:hover {
                background-color: $violet-clair;
            }

            & li {
                width: 90%;

                & a {
                    position: relative;
                    @extend %flex-center;
                    padding: 0.5em 2em 0.5em 0em;
                    border-radius: 1em;
                    background-color: $beige;
                    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
                    text-decoration: none;
                    color: black;

                    & .numero {
                        position: absolute;
                        left: -15px;
                        background-color: $violet;
                        border-radius: 15px 15px 15px 15px;
                        padding: 5px 10px 5px 10px;
                        color: $blanc;
                        font-size: 14px;
                    }

                    & i {
                        padding: 0;

                        @media (min-width: 1025px) {
                            padding: 1em;
                            margin-right: 0.5em;
                        }
                    }

                    & p {
                        font-weight: bold;
                    }

                }
            }
        }
    }

    & .restaurants {
        background-color: $beige;
        padding: 1.5em 1.5em 4em 1.5em;
    }

    & .menu {
        background-color: $beige;
        margin: auto;
        padding-bottom: 2em;


        @media screen and (min-width : 769px) and (max-width: 1024px) {
            width: 85%;
            padding: 0;
        }

        @media (min-width: 1025px) {
            width: 75%;
            padding: 0;
        }

        & .entrées {
            @include animation-plat(1s)
        }

        & .plats {
            @include animation-plat(2s)
        }

        & .desserts {
            @include animation-plat(3s)
        }

        & .liste_menu {
            position: relative;
            background-color: $beige;
            display: flex;
            flex-direction: column;
            align-items: center;
            bottom: 3em;
            border-radius: 1em 1em 0em 0em;

            @media (min-width: 769px) {
                bottom: 7em;
            }

            & .titre_menu {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                font-family: Shrikhand;
                font-size: 22px;
                width: 100%;

                @media (min-width: 769px) {
                    width: 55%;
                }
            }

            & .element_menu {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 95%;

                @media (min-width: 769px) {
                    width: 60%;
                }
            }

            & h3 {
                align-self: flex-start;
                font-weight: 300;
                border-bottom: 1em solid $vert-clair;
                border-width: 0.2em;
                padding-bottom: 0.2em;
                width: 2.5em;

                @media screen and (min-width : 769px) and (max-width: 1024px) {
                    align-self: auto;
                    display: flex;
                    justify-content: center;
                }
            }

            & ul {
                display: grid;
                list-style: none;
                gap: 2em;
                padding: 0;
                width: 100%;

                & li {
                    display: flex;
                    background-color: white;
                    border-radius: 1em;
                    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
                    justify-content: space-between;
                    overflow: hidden;

                    .description {
                        padding: 0.75em 0em 0.75em 0.5em;

                        & h4,
                        p {
                            margin: 0;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            width: 55vw;


                            @media (min-width: 769px) {
                                width: 30vw;
                            }
                        }
                    }

                    &:hover .description_coche .check {
                        visibility: visible;
                        display: flex;
                        transform: translateX(-100px);
                    }

                    &:hover .description_coche p {
                        transform: translateX(-50px);
                    }

                    & h4 {
                        font-size: 18px;
                        padding-bottom: 0.2em;
                    }

                }

                & .description_coche {
                    display: flex;

                    & p {
                        margin: 0;
                        padding: 0em 1em 0.9em 0em;
                        align-self: end;
                        translate: 50px;
                        transition: transform 1s;
                    }

                    & .check {
                        padding: 1.1em;
                        justify-content: center;
                        align-items: center;
                        background-color: $vert-clair;
                        color: white;
                        border-radius: 0em 0.5em 0.5em 0em;
                        translate: 100px;
                        transition: transform 1s;
                        font-size: 22px;
                    }
                }
            }

        }

    }

}